/* color variable */
$base-color: #ff841b;
$white: #ffffff;
$black:#000000;
$dark-blue: #00194c;
$medium-blue: #001a53;
$gray-color: #676767; 

/* font family */
$primary-font: 'Poppins', sans-serif;  